.options{
    margin-top: 20%;
    margin-left: 40%;
    background-color: dodgerblue;
    max-width: 170px;
    border-radius: 13px;
}
.listOptions{
    padding: 15px 15px 15px;
}
.listElement{
    background-color: white;
    margin-top: 5px;
    display: block;
    text-decoration: none;
    text-align: center;
}