.options{
    position: relative;
    background-color: steelblue;
    width: 100%;
}
.listElement{
    background-color: white;
    width: 33%;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
}