.formats{
    position: relative;
    top: 15px;

}
.details{
    position: absolute;
    top: 20%;
}
.checks{
    position: absolute;
    top: 30%;
}
p{
    margin: 0px;
}
tr:nth-child(even){background-color: #f2f2f2}
tr{
    padding: 8px;
    margin: 8px;
    border-bottom: 1px solid grey;
}
table{
    width: 75%;
}
td{
    width: 15%;
}
button{
    background-color: #04AA72;
    color: white;
    padding: 9px 24px 9px 24px;
    border: none;
    border-radius: 3px;
}